.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  background: #eef5ff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-container {
  width: 580px;
  height: 600px;
  background: white;
  margin: auto;
  padding: 70px 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin: 20px 0px;
  text-align: center;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
  align-items: center;
}

.login-fields input {
  height: 72px;
  width: 550px;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.login-p {
  /* display: flex; */
  /* justify-content: space-between; */
  /* margin-left: 400px; */
  float: right;
  /* margin-top: 20px; */
}

.login-p a {
  margin-right: 20px;
}

.login-p p {
  display: inline-block;
  /* margin-right: 50px; */
  /* margin-left: 20px; */
  white-space: nowrap;
  margin-right: 15px;
}

.login-container button {
  width: 580px;
  height: 50px;
  color: white;
  background: #ff6c22;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.google {
  background-color: red;
}

.facebook {
  background-color: #507cc0;
}
